/******   ABOUT   ******/

#aboutIntro {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: -2.1em;
    text-align: center;
    background-image: url(../images/OurWork3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 770px){

    #aboutIntro {
        min-width: 320px
    }
    #aboutIntroTitle {
        min-width: 320px;
        font-size: 40px;
    }
}

#aboutIntroTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 3.6em;
    margin: auto;
}

#aboutIntroSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-bottom: 6em;
}

#OurPassion {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #OurPassion {
        min-width: 320px;
    }
    #OurPassionTextStory {
        min-width: 320px;
    }
}

#OurPassionHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #1976d2;
    padding-top: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid;
    border-bottom-color: #1976d2;
    margin: auto;
    max-width: 300px;
}

#OurPassionText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: left;
    padding-top: 1.9em;
    padding-bottom: 2.5em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

#OurPassionTextStory {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 0em;
    padding-bottom: 2em;
    margin: auto;
    width: 40%;
    color: dimgray;
    align-self: center;
}

#OurPassionTextJack {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    max-width: 90%;
    padding-top: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
    border-top: 2px solid;
    border-top-color: #1976d2;
}

#OurPassionTextMat {
   background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    max-width: 90%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
    border-top: 2px solid;
    border-top-color: #1976d2;
}

#OurTeam {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em
}

@media only screen and (max-width: 770px){

    #OurTeam {
        min-width: 320px;
    }
}

#OurTeamTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

#OurTeamSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 2em;
}

#OurTeamBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: top;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #OurTeamBody {
        min-width: 320px;
    }
}

#OurTeamHeading {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    max-width: 300px;
    padding-top: 2em;
    padding-bottom: 0.5em;
    margin: auto;
    color: #1976d2;
    align-self: center;
    border-bottom: 2px solid;
    border-bottom-color: #1976d2;
}

#boxOurTeamBody {
    height: 75%;
    width: 35%;
    display: inline-block;
    margin-top: 1.8em;
    padding-left: 3em;
    padding-right: 3em;
    vertical-align: top;
    padding-bottom: 3em;
}

@media only screen and (max-width: 770px){

    #boxOurTeamBody {
        min-width: 320px;
        margin-left: -2em;
        
    }
}

#OurTeamPictureJack {
    position: relative;
    padding: 50%;
    background-image: url(../images/JackHeadshotRaw-2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    border-radius: 50%;
}

#OurTeamPictureMat {
    position: static;
    padding: 50%;
    background-image: url(../images/MatHeadshotRaw-2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: dimgray;
    margin: auto;
    display: inline-block;
    border-radius: 50%;
    
}

#OurTeamName {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: dimgray;
    padding-bottom: 0.4em;
    padding-top: 2em;
}

#OurTeamText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: dimgray;
    padding-bottom: 3em;
}

@media only screen and (max-width: 770px){

    #OurTeamText {
        min-width: 320px;
 
    }
}

#OurTeamTextMat {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: dimgray;
    padding-bottom: 2.8em;
}

@media only screen and (max-width: 770px){

    #OurTeamTextMat {
        min-width: 320px;
        padding-bottom: 3em;
    }
}



/* Get To Know Us section */
#LetsWork {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #LetsWork {
        min-width: 320px;
    }

}

#LetsWorkTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: auto;
}

#LetsWorkcontact {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
    color: white;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#LetsWorkcontact:hover {
    background-color: white;
    color: #2A65B0;
    -webkit-transition: 0.5s ease;
}