/******   CONTACT   ******/

#contactIntro {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: -2.1em;
    text-align: center;
    background-image: url(../images/rainbow3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 770px){

    #contactIntro {
        min-width: 320px;
    }
}

#contactIntroTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 3.5em;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
}

#contactIntroSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

#contactInfo {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #contactInfo {
        min-width: 320px;
    }
}

#contactInfoText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    max-width: 800px;
    padding-top: 2.4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

#contactInfoHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: dimgray;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 1.5em
}

#contactInfoEmail {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

#contactUs {
    font-size: 17px;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: dimgray;
    color: dimgray;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#contactUs:hover {
    background-color: dimgray;
    color: white;
    -webkit-transition: 0.5s ease;
}

#contactUsIntro {
    padding-bottom: 6em;
}
