@font-face {
      font-family: 'Material Icons';
        font-style: normal;
          font-weight: 400;
            src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
        }

        .material-icons {
              font-family: 'Material Icons';
                font-weight: normal;
                  font-style: normal;
                    font-size: 24px;
                      line-height: 1;
                        letter-spacing: normal;
                          text-transform: none;
                            display: inline-block;
                              white-space: nowrap;
                                word-wrap: normal;
                                  direction: ltr;
                                    text-rendering: optimizeLegibility;
                                      -webkit-font-smoothing: antialiased;
                                  }
