/*
Standard Logo Blue: #2c66b1, #2A65B0
Standard Logo Red: #d32f2f
*/
body {
    overflow-x: hidden;
}
/******   NAVIGATION BAR   ******/

/*Navigation Container*/
/*nav*/ {
    
box-shadow: 0px 1px 15px 0px #424242;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3374ba+0,3374ba+100&amp;1+30,0.3+100 */
background: -moz-linear-gradient(top,  rgba(51,116,186,1) 0%, rgba(51,116,186,1) 30%, rgba(51,116,186,0.3) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,116,186,1)), color-stop(30%,rgba(51,116,186,1)), color-stop(100%,rgba(51,116,186,0.3))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,116,186,1) 0%,rgba(51,116,186,1) 30%,rgba(51,116,186,0.3) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,116,186,1) 0%,rgba(51,116,186,1) 30%,rgba(51,116,186,0.3) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,116,186,1) 0%,rgba(51,116,186,1) 30%,rgba(51,116,186,0.3) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,116,186,1) 0%,rgba(51,116,186,1) 30%,rgba(51,116,186,0.3) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3374ba', endColorstr='#4d3374ba',GradientType=0 ); /* IE6-9 */

    background: white;
    z-index: 9999;
    height: 5.5em;
    width: 100%;
    margin: -0.5em;
    margin-bottom: 0.5em;
    font-family: 'roboto', sans-serif;
    float: left;
    position: fixed;
}
/**********************/

@media only screen and (min-width: 770px){
    #wrapperMenu {
        display: none;
    }   
    #contactMenu {
        display: none;
    }
    .navMenucontact {
        display: none;
    }
}

@media only screen and (max-width: 770px){

.navMenuLogo {
    
}

.navMenu {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: white;
    color: #2A65B0;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.navMenu:hover {
    background-color: white;
    color: #d32f2f;
    -webkit-transition: 0.5s ease;
}

.navMenuHome {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: white;
    color: #2A65B0;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.navMenuHome:hover {
    background-color: white;
    color: #d32f2f;
    -webkit-transition: 0.5s ease;
}

.navMenucontact {
    -webkit-box-shadow: 0 7px 10px -6px #424242;
    text-align: center;
    padding-top: .5em;
    padding-bottom: 2em;
    background-color: white;
    color: #2A65B0;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.navMenucontact:hover {
    background-color: white;
    color: #d32f2f;
    -webkit-transition: 0.5s ease;
}

.navMenuHamburger {
    
}

.ham {
    display: none;
}

#menuSpacerMenu {
    height: 1.5em;
}
    
}

/**********************/

@media only screen and (max-width: 770px){

    nav {
        min-width: 700px;
    }

}

@media only screen and (max-width: 770px){

    nav {
        min-width: 320px;
        background-color: white; 
    }
   
    .navTitle{
        display: none;
    }

}

/* Hamburger Menu */

.menuHamburger {
    display: none;
}

.navTitleHire {
    display: none;
}

@media only screen and (max-width: 770px) {

.menuHamburger {
    display: block;
    float: right;
    margin: .8em;
    font-size: 30px;
    color: #2A65B0;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.menuHamburger:hover {
    cursor: pointer;
    color: #d32f2f;
    -webkit-transition: 0.5s ease;
}

.responsive {
    color: #d32f2f;
}

div.navTitle {
        display: none;
        
    }
    
    div.navTitleMenu {
        float: none;
        display: block;
        margin-top: 1em;
        margin-left: 0em;
        margin-right: 0em;
        width: 100%;
        background-color: aquamarine;
        text-align: center;
        
    }
    
    #menuSpacer {
        display: block;
        height: 2em;
        margin-top: 2em;
    }
 /*   
.navTitle {
    margin-top: 3em;
    margin-left: -2em;
    margin-right: 5em;
    color: white;
    float: right;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.navTitle:hover {
    color: #95C7EC;
    -webkit-transition: 0.5s ease;
    
}*/
    
}

/*Navigation Hide 'Home' button when in mobile view*/
@media only screen and (max-width: 770px){
    
    
}

/*Navigation Contact Button*/
#contact {
    border-radius: 3px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #d32f2f;
    color: white;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: 2.3em;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%); 
}

#contact:hover {
    color: #2A65B0;
    background-color: #95C7EC;
    -webkit-transition: 0.5s ease;
    
}

@media only screen and (max-width: 770px){

    #contact {
        display: none;
        min-width: 320px;
    }

}

/*Navigation AnalytixBar Logo*/
#Logo {
    float: left;
    margin-left: 2em;
    margin-top: 1.5em;
    max-width: 200px; 
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%); 
}

#Logo:hover {
    -webkit-transition: 0.5s ease;
    -webkit-filter: brightness(85%); 
}

#AxLogo {
    background-image:url(../images/AxBarLogo_Horiz_v2_320x132px.png);
    background-size: contain;
    /*background-position: ;*/
    background-repeat: no-repeat;
    height: 80%;
    width: 15em;
    float: left;
    margin-left: 2em;
    margin-top: .7em;
    max-width: 200px; 
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%); 
}
/*
#AxLogo:hover {
    background-image:url(../images/AnalytixBar_LogoSilhouetteBlue-10.png);
    -webkit-transition: 0.5s ease;
    
}
*/

/*
@media only screen and (max-width: 770px){
    #AxLogo {
        background-image:url(../images/AnalytixBar_IconSilhouetteWhite-10.png);
        height: 60%;
        margin-top: 1.3em;
    }
    #AxLogo:hover {
        background-image:url(../images/AnalytixBar_IconSilhouetteBlue-10.png);
        height: 60%
    }
    
}

*/
/* Thin white lines between sections/containers/elements */
.line {
    height: 1px;
    width: auto;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    background-color: lightgray;
}

/* Navigation Buttons styling */
.navTitle {
    margin-top: 3em;
    margin-left: -2em;
    margin-right: 5em;
    color: #2A65B0;
    float: right;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.navTitle:hover {
    color: #d32f2f;
    -webkit-transition: 0.5s ease;
    
}


/* See How Button in Home Intro section */
#rectButton {
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: white;
    color: white;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#rectButton:hover {
    background-color: white;
    color: #3374BA;
    -webkit-transition: 0.5s ease;
}

#rectButtonBlue {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: #3374BA;
    color: #3374BA;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#rectButtonBlue:hover {
    background-color: #3374BA;
    color: white;
    -webkit-transition: 0.5s ease;
}

#rectButtonBlueView {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: #3374BA;
    color: #3374BA;
    margin-top: 0em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#rectButtonBlueView:hover {
    background-color: #3374BA;
    color: white;
    -webkit-transition: 0.5s ease;
}

#rectButtonRed {
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-color: #d32f2f;
    color: #d32f2f;
    margin-top: 2.5em;
    text-align: center;
    max-width: 190px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#rectButtonRed:hover {
    background-color: #d32f2f;
    color: white;
    -webkit-transition: 0.5s ease;
}

/* Empty element for spacing below 'View Our Work' Button in Home Intro*/
#bufferIntro {
    height: 15em;
}

/* Empty element for spacing below 'Meet The Team' Button in 'Get To Know Us' section on Work page*/
#buffer {
    height: 5em;
}

#bufferView {
    height: 6em;
}

#bufferContact {
    height: 15em;
}

/* Remove standard text decoration stlyling for links */
a { text-decoration: none; color: white;}
a:visited { text-decoration: none; color: white;}
a:hover { text-decoration: none; color: white;}
a:focus { text-decoration: none; color: white;}
a:hover, a:active { text-decoration: none; color: white;}

/* Align Outlined button elements within their parent elements to Center */
#button {display: inline-block; margin: auto;}
#buttonIntro {display: inline-block; margin: auto;}

/* Add custom Underline to Footer Links */
.underline {
    border-bottom: 1px solid white;
    border-width: thin;
    -webkit-transition: 2s ease;
    -webkit-filter: brightness(100%);
}

.underline:hover {
    color: #95C7EC;
    border-bottom: 1px solid #95C7EC;
    border-width: thin;
    -webkit-transition: 0.5s ease;
}


/* Footer menu container with links to all other pages */
#FooterMenu {
    background: #2A65B0;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 730px){

    #FooterMenu {
        min-width: 640px;
    }
}

@media only screen and (max-width: 650px){

    #FooterMenu {
        min-width: 320px;
    }

}


/* links to all other pages inside footer menu container */
#FooterMenuLinks {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-decoration: none;
}

/* Footer container below the menu with copyright info */
#Footer {
    background: #2A65B0;
    margin-left: -0.5em;
    margin-right: -0.5em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

@media only screen and (max-width: 730px){

    #Footer {
        min-width: 640px;
    }
}

@media only screen and (max-width: 650px){

    #Footer {
        min-width: 320px;
    }

}

/* Copyright Text inside footer container */
#FooterText {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-decoration: none;
}

/******  Coming Soon Page Styles for Logo  ******/
#Title {
    width: 386px;
    height: 117px;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.Black {
    -webkit-transition: 3s ease;
    -webkit-filter: grayscale(100%);
}

.Black:hover {
    -webkit-transition: 2s ease;
    -webkit-filter: grayscale(0%);
}

