/* CAPABILITIES ICONS */

.capIcons {
    background-image: url(/images/WebIcon.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 50%;
    background-color: transparent;
    margin: auto;
    display: block;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#WhatWeDoPictureReports {
    background-image: url(../images/WebIcon.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 50%;
    background-color: transparent;
    margin: auto;
    display: block;
}

.capIcons:hover {
  transition: box-shadow .25s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .btn-floating-xlarge .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating, btn-foating-xlarge:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}