/******   HOME   ******/

/* Home Intro Container */
#homeIntro {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    background-image: url(../images/Setting-the-Bar3.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

/* Home Intro container mobile width restrictions */

@media only screen and (max-width: 770px){

    #homeIntro {
        min-width: 320px;
    }
    
     #homeIntroText {
        min-width: 320px;
        font-size: 10px;
        color: green;
        margin-left: -1em;
        padding-left: 0em;
    }

}
/* Home Intro Slogan/Title Text */
#homeIntroText {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 3.3em;
    padding-bottom: 0.8em;
    width: 60%;
    margin: auto;
}

/* Container for section on after intro on homepage 'What We Do' */
#WhatWeDo {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: ;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #WhatWeDo{
        min-width: 320px;
    }

}

/* What we do title above three boxes */

#WhatWeDoHeadingBold {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: dimgray;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 0.5em;
    margin: auto;
    width: 60%;
}

#WhatWeDoHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 33px;
    color: dimgray;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0em;
    padding-bottom: 1.5em;
    width: 60%;
    margin: auto;
}

/* container for each of the three box elements */
#boxBody {
    height: 20em;
    width: 23%;
    background-color: ;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    padding-bottom: 1em;
}

@media only screen and (max-width: 770px){
    #boxBody {
        width: 60%;
        margin-left: 0em;
        padding-bottom: 0em;
        min-width: 320px;
    }
}

/* Reports box image container */
#WhatWeDoPictureReports {
    background-image: url(../images/ReportsCircle.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 40%;
    background-color: transparent;
    margin: auto;
    display: block;
}

/* Apps box image container */
#WhatWeDoPictureApps {
    background-image: url(../images/AppsCircle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40%;
    background-color: transparent;
    margin: auto;
    display: block;
}

/* Cloud box image container */
#WhatWeDoPictureCloud {
    background-image: url(../images/CloudCircle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40%;
    background-color: transparent;
    margin: auto;
    display: block;
}

/* Title for each box Reports Apps Cloud*/
#WhatWeDoTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #3374BA;
    padding-bottom: 0.4em;
    padding-top: 1.2em;
}

/* Text for each of the three boxes */
#WhatWeDoText {
    /*background: gray;*/
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: dimgray;
}

#WhatWeDoMore {
    background: #2A65B0;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

#WhatWeDoParagraph {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    color: white;
    width: 50%;
    background-color: transparent;
    margin: auto;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 0em;
    border-top: 1px solid;
    border-top-color: #3374BA;
    border-bottom: 1px solid;
    border-bottom-color: #3374BA;
}

@media only screen and (max-width: 750px){

    #WhatWeDoParagraph{
        min-width: 320px;
        
    }

}

#WhatWeDoClients {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #WhatWeDoClients{
        min-width: 320px;
    }

}

#WhatWeDoSummaryTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #3374BA;
    background-color: transparent;
    width: 80%;
    padding-bottom: 0.3em;
    padding-top: 2em;
    margin: auto;
}

@media only screen and (max-width: 770px){

    #WhatWeDoSummaryTitle{
        min-width: 320px;
        margin: auto;
        margin-right: 2em;
        margin-left: -.8em;
        
    }

}

/* Description of what our company does on the homepage below three boxes */
#WhatWeDoSummary {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: dimgray;
    width: 26%;
    background-color: transparent;
    margin-top: 1.9em;
    margin-left: 6em;
    margin-right: 2em;
    padding: 10px;
    vertical-align: top;
    padding-bottom: 3em;
    margin: auto;
}

@media only screen and (max-width: 770px){

    #WhatWeDoSummary{
        min-width: 320px;
        width: 26%;
        padding-bottom: 0em;
        margin: auto;
        padding-left: 2.4em;
    }
}

/* Description of what our company does on the homepage below three boxes */
#WhatWeDoSummaryText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: dimgray;
    background-color: transparent;
    vertical-align: top;
    padding-bottom: 0em;
    padding-top: 1em;
    margin-left: -0.8em;
    border-top: 2px solid;
    border-top-color: #1976d2;
}

@media only screen and (max-width: 770px){

    #WhatWeDoSummaryText{
        min-width: 320px;
        width: 26%;
        padding-bottom: 1em;
    }
}


/* Brand logo images element on homepage What we do section */
#Brands {
    padding-top: 0em;
    padding-bottom: 1em;
    /* background-image: url(images/LogoStripBlue.png); */
    width: 90%;
    display: inline-block;
    margin-top: -2em;
    margin-bottom: 4em;
    padding: 10px;
    text-align: center;
    
}

@media only screen and (max-width: 770px){

    #Brands{
        min-width: 320px;
        width: 80%;
        margin-left: 1em;
        margin-bottom: 0em; 
    }
}

#datastrongLogoSmall {
    min-width: 100px;
    width: 20%;
    background-image: url(../images/DataStrongLogoWebBlueSMALL.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
    margin-right: 0.5em;
    
}

@media only screen and (max-width: 770px){

    #datastrongLogoSmall{
        min-width: 320px;
        width: 50%;
        margin: auto;
        display: block;
    }
}


#motorcarLogoSmall {
    width: 15%;
    background-image: url(../images/MotorCarLogoWebBlueSMALL.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
    margin-right: 0.5em;
}

@media only screen and (max-width: 770px){

    #motorcarLogoSmall{
        min-width: 320px;
        width: 40%;
        margin: auto;
        display: block;
    }
}


#sportsLogoSmall {
    width: 15%;
    background-image: url(../images/SportsLogoWebBlueSMALL.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
    margin-right: 0.5em;
}

@media only screen and (max-width: 770px){

    #sportsLogoSmall{
        min-width: 320px;
        width: 35%;
        margin: auto;
        display: block; 
    }
}


#quirkLogoSmall {
    width: 15%;
    background-image: url(../images/QuirkLogoWebBlueSMALL.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
}

@media only screen and (max-width: 770px){

    #quirkLogoSmall{
        min-width: 320px;
        width: 40%;
        margin: auto;
        display: block; 
    }
}


#thronasLogoSmall {
    width: 25%;
    background-image: url(../images/ThronasLogoWebBlueSMALL.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 10em;
    margin: 0.5em;
}

@media only screen and (max-width: 770px){

    #thronasLogoSmall{
        min-width: 320px;
        width: 60%;
        margin: auto;
        
    }
}


/* Powered by Microstrategy Title container */
#PoweredBy {
    background: #2A65B0;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 770px){

    #PoweredBy {
        min-width: 320px;
    }
}

/* Powered by text for the title section */
#PoweredByTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0em;
    margin: auto;
}

/* container for Powered by body section */
#PoweredByBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 770px){

    #PoweredByBody {
        min-width: 320px;
    }
}

#PoweredByHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: dimgray;
    padding-left: 1.4em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 0.5em;
    text-align: center;
    width: 70%;
    margin: auto;
}

#PoweredByLogo {
    background-image: url(../images/MicroStrategyLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    height: 8em;
    width: 50%;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
}

#PoweredByBuffer {
    height: 4em;
}

/* text box for Powered by paragraph */
#PoweredByText {
    text-align: left;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: dimgray;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    margin:auto;
    width: 60%;
}

#PoweredByTextTwo {
    text-align: left;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: dimgray;
    padding-top: 1em;
    padding-bottom: 4em;
    text-decoration: none;
    margin:auto;
    width: 60%;
}

/* Get To Know Us section */
#OurClients {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #OurClients {
        min-width: 320px;
    }
}

#OurClientsTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: auto;
}

#viewOurWork {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
    color: white;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#viewOurWork:hover {
    color: #2A65B0;
    -webkit-transition: 0.5s ease;
}


