/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*
blue-darken-3: #1565c0 
red-darken-4: #b71c1c
red: #f44336
green: #4caf50
*/


html {
    background-image: url(../images/gradientBG5.png);
    background-repeat: repeat;
    background-position: center top;
    background-size: center;
    min-width: 320px;
}

/*
.vizBG {
    background-image: url(../images/gradientBG5.png);
    background-repeat: repeat;
    background-position: center top;
    background-size: center;
}

.siteBG {
    background-image: url(../images/gradientBG5.png);
    background-repeat: repeat;
    background-position: center top;
    background-size: center;
}
*/

nav {
    min-width: 320px;
}

.vizMDI {
    margin-top: -3px;
}

#ourStoryRow {
    margin: auto;
}

#letsTalkAnchor {
    margin-top: -75px;
    float:left;
    height: 75px;
}

/* MOBILE OPTIMIZATIONS LARGE */
@media only screen and (min-width: 992px) {
    #vizWidth {
    width: 860px;
    margin: auto;
    }
    .vizResultBar {
        width: 800px;
        margin: auto;
    }
    .bioCard {
        max-width: 400px;
        margin: auto;
    }
    .bioCardCont {
        
    }
    .ourStory {
        max-width: 500px;
        margin: auto;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .vizTitle {
        font-size: 3em;
        margin-top: 1em;
    }
    .vizSubTitle {
        font-size: 20px;
        margin-top: -.5em;
    }
    
}

/* MOBILE OPTIMIZATIONS LARGE & MEDIUM */
@media only screen and (min-width: 600px) {
    .stepOne {
        margin-bottom: ;
    }
    .analysisTypeBtnRow {
        margin-top: -1em;
    }
    .stepTwo {
        margin-top: -1em;
        margin-bottom: -.2em;
    }
    .categoryBtnRow1 {
        margin-bottom: -0em;
    }
    .categoryBtnRow2 {
        margin-bottom: -0em;
        margin-top: -0em;
    }
     .stepThree {
        margin-bottom: -.5em;
    }
}

/* MOBILE OPTIMIZATIONS SMALL */
@media only screen and (max-width: 600px) {
    #navHamburger {
        padding-top: 4px;
        padding-left: 10px;
    }
    #buttonIntro {
        margin-top: -5em;
    }
    #dataIntro, #webIntro {
        padding-bottom: 3em;
    }
    #techSubTitle {
        padding-left: .5em;
        padding-right: .5em;
    }
    .clientIcon {
        width: 60%;
        margin: auto;
    }
    .midClientIcon {
        margin-top: -.3em;
    }
    .topClientIcon {
        margin-top: -3px;
        margin-bottom: -13px;
    }
    .btmClientIcon {
        margin-top: -.4em;
        margin-bottom: -.1px;
    }
    #letsTalkDesc {
        padding-bottom: 1em;
    }
    .letsTalkRow {
        margin-top: -1.5em;
    }
    .vizTitle {
        font-size: 2.3em;
        padding-top: .8em;
    }
    .vizSubTitle {
        font-size: 16px;
        margin-top: -.8em;
    }
    .vizRow2 {
        margin-top: -2em;
    }
     #vizWidth {
    width: 100%;
    margin: auto;
    }
    .vizResultBar {
        width: 95%;
        margin: auto;
    }
    .vizResultTitle {
        font-size: 5pt;
    }
     .dataIconMobile {
        max-width: 3.5em;   
    }
    #dataIconRow {
        padding-top: .5em;
    }
    .webIconMobile {
        max-width: 4em;
    }
    .mobileIconMobile {
        max-width: 4em;
    }
    .fedIconMobile {
        max-width: 4em;
    }
    #fedIconRow {
        padding-top: 1em;
    }
}

@media only screen and (max-width: 371px) {
    
}

/* MOBILE OPTIMIZATIONS MEDIUM */
@media only screen and (min-width: 601px) and (max-width: 992px) {
     #vizWidth {
    width: 100%;
    margin: auto;
    }
    .vizResultBar {
        width: 90%;
        margin: auto;
    }
    .ourStory {
        max-width: 500px;
        margin: auto;
    }
     .dataIconMobile {
        max-width: 4em;
        
    }
    .webIconMobile {
        max-width: 4em;
    }
    #webIconRow {
        margin-bottom: -1.8em;
    }
    .mobileIconMobile {
        max-width: 4em;
    }
    .fedIconMobile {
        max-width: 4em;
    }
    .vizTitle {
        font-size: 3em;
        margin-top: 1em;
    }
    .vizSubTitle {
        font-size: 20px;
        margin-top: -.5em;
    }
}

/* MOBILE OPTIMIZATIONS MEDIUM & SMALL */
@media only screen and (max-width: 992px) {
    #techIconsRow2 {
        margin-top: -1em;
    }
   
    
}


.button-outline-blue {
    border: solid 2px #1565c0;
}

.white-BG {
    background-color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.contactBtn {
    margin-bottom: -4px;
}

.navNoline {
    height: 61px;
}

.navUnderline {
    height: 61px;
    border-bottom: solid rgba(183,28,28,0.7);
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #b71c1c;
}

.logo-container {
    margin-left: 2em;
}

.title16 {
    font-size: 16pt;
}

.quoteRed {
    border-left: 5px solid #b71c1c;
}

.quoteBlue {
    border-left: 5px solid #1565c0 ;
}

.quoteText {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12pt;
}

.homeIconText {
    font-size: 11pt;
    font-weight: 400;
}

.homeIntroBG {
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    box-shadow: 0 5px 10px -4px;
}

.workIntroBG {
    background-image: url(../images/whiteboard.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: 0 5px 10px -4px;
}

.servicesIntroBG {
    background-image: url(../images/code.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: 0 5px 10px -4px;
}

.visualizeIntroBG {
    background-image: url(../images/black.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: 0 5px 10px -4px;
}

.aboutIntroBG {
    background-image: url(../images/chalk.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: 0 5px 10px -4px;
}

.webIcon {
    background-image: url(../images/WebIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10em;
    width: 10em;
}

.mobileIcon {
    background-image: url(../images/MobileIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10em;
    width: 10em;
}

#resultsTitle {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 17px;
}

.basicCard {
    margin: auto;
    width: 99%;
}

.dataIcon {
    background-image: url(../images/DataIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10em;
    width: 10em;
}

.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

.dataAnchor {
    display: block;
    position: relative;
    top: -10px;
    visibility: hidden;
}

#datastrongWork {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

#home-banner {
    height: 42em;
}

.homeTitle {
    padding-top: 0.4em;
}

.workTitle {
    padding-top: 1em;
}

#index-banner {
    height: 30em;
}

#viz-banner {
    height: 10em;
}

.introIcons {
    width: 4em;
}

.techIcons {
    /*box-shadow: inset 0px 0px 20px rgba(0,0,0,.7);*/
}

.vizCard {
    margin-top: 2em;
}

.minus-01-left {
    margin-left: -0.1em;
}

.minus-05-left {
    margin-left: -0.5em;
}

.minus-05-right {
    margin-right: -0.5em;
}

.minus-05-btm {
    margin-bottom: -0.5;
}

.minus-05-top {
    margin-top: -0.5;
}

.minus-1-left {
    margin-left: -1em;
}

.minus-1-top {
    margin-top: -1em;
}

.minus-1-btm {
    margin-bottom: -1em;
}

.minus-2-top {
    margin-top: -2em;
}

.minus-2-btm {
    margin-bottom: -2em;
}

.minus-2-left {
    margin-left: -4em;
}

.plus-1-btm {
    margin-bottom: 1em;
}

.plus-05-btm {
    margin-bottom: 0.5em;
}

.plus-07-top {
    margin-top: 0.7em;
}

.plus-05-top {
    padding-top: 0.5em;
}

.plus-1-top {
    margin-top: 1em;
}

.pad-05-top {
    padding-top: .5em;
}

.pad-1-top {
    padding-top: 1em;
}

.pad-2-top {
    padding-top: 2em;
}

.pad-2-left {
    padding-left: 2em;
}     

.vizFinderWork {
    margin-top: -2em;
}

.vizTitle {
    padding-top: 0.em;
}

.redUnderline {
    border-bottom: solid 2px #b71c1c;
}

.gradientLine {
    background-image: url(../images/gradientLine.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 2em;
    width: 100%;
}

.gradientLineLeft {
    background-image: url(../images/gradientLineIndividualLeft.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 9em;
}

.gradientLineRight {
    background-image: url(../images/gradientLineIndividualRight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.featuredClients {
    /*box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);*/
}

.workIcon {
    height: 2em;
}

.workUnderline {
    margin-top: -3em;
}

.mstrLogo {
    background-image: url(../images/techIcons/microstrategy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6em;
    height: 4em;
    margin: auto;
}

.sqlserverLogo {
    background-image: url(../images/techIcons/sqlserver.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6em;
    height: 4em;
    margin: auto;
}

.marginAuto {
    margin: auto;
}



.mysqlLogo {
    background-image: url(../images/techIcons/mysql.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6em;
    height: 4em;
    margin: auto;
}

.html5Logo {
    
}

.DatastrongLogo {
    background-image: url(../images/DataStrongLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 50%;
}

.datastrongLogo {
    background-image: url(../images/DataStrongLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.analytixBarLogo {
    background-image: url(../images/AxBarLogo_Horiz_v2_320x132px.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
    max-width: 250px;
    margin: auto;
}

.quirkLogo {
    background-image: url(../images/QuirkLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.motorcarLogo {
    background-image: url(../images/MotorCarLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.sportsLogo {
    background-image: url(../images/SportsLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.thronasLogo {
    background-image: url(../images/ThronasLogoGradient5x3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9em;
}

.clientIcon {
    -webkit-filter: grayscale(0%);
    transition: -webkit-filter .7s ease;
}

.clientIcon:hover {
    -webkit-filter: grayscale(100%);
    transition: -webkit-filter .7s ease;
}

.AxBarVizFinderHome {
    background-image: url(../images/AxBarWebPages2Crop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 50%;
}

.AxBarFedSolutionsHome {
    background-image: url(../images/AxBarFedDashboardCrop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 50%;
}

.quirkTreemap {
    background-image: url(../images/AxBarTreemapCrop.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    width: 50%;
}

.motorcarMobileApp {
    background-image: url(../images/AxBarMobileAppCrop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 50%;
}

.sportsAWS {
    background-image: url(../images/AWSiPadCrop.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 50%;
}

.thronasDatabase {
    background-image: url(../images/ThronasDatabaseCrop.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    width: 50%;
}

.dataServicesImage {
    background-image: url(../images/DataDevicesFlatCrop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
}

.webServicesImage {
    background-image: url(../images/WebDevicesFlatCrop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
}

.mobileServicesImage {
    background-image: url(../images/MobileDevicesFlatCrop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
}
.federalServicesImage {
    background-image: url(../images/FederalDevicesFlatCrop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50%;
}

.footer-index {
    z-index: 0;
}

.darkenBlue {
    background-color: #1565C0 !important;
}

.darkenBlue:hover {
    background-color: #1565C0 !important; 
}

.hoverable-soft {
  transition: box-shadow .5s, filter .5s;
  box-shadow: 0;
  filter: brightness(1);
}

.hoverable-soft:hover {
  transition: box-shadow .5s, filter .5s;
  box-shadow: 0 3px 11px 5px rgba(0, 0, 0, 0.06), 0 4px 15px 5px rgba(0, 0, 0, 0.06);
  filter: brightness(1.1);
}

.lightenBtn {
  transition: box-shadow .5s, filter .5s;
  box-shadow: 0;
  filter: brightness(1);
}

.lightenBtn:hover {
  transition: box-shadow .5s, filter .5s;
  box-shadow: 0;
  filter: brightness(1.1);
}

.serviceImage {
    width: 40%;
}

/* VIZ BUTTONS */

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .vizBtn, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.vizBtn .collection {
  margin: 0;
  border: none;
}

.vizBtnHeader {
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #1565c0;
}

.vizBtnHeader i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

/*****

.vizBtn {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
}

.vizBtn-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.vizBtn-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

.vizBtn-body {
  display: none;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.vizBtn-body p {
  margin: 0;
  padding: 2rem;
}

.side-nav .vizBtn,
.side-nav.fixed .vizBtn {
  border: none;
  box-shadow: none;
}

.side-nav .vizBtn li,
.side-nav.fixed .vizBtn li {
  padding: 0;
}

.side-nav .vizBtn-header,
.side-nav.fixed .vizBtn-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.side-nav .vizBtn-header:hover,
.side-nav.fixed .vizBtn-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-nav .vizBtn-header i,
.side-nav.fixed .vizBtn-header i {
  line-height: inherit;
}

.side-nav .vizBtn-body,
.side-nav.fixed .vizBtn-body {
  border: 0;
  background-color: #fff;
}

.side-nav .vizBtn-body li a,
.side-nav.fixed .vizBtn-body li a {
  padding: 0 23.5px 0 31px;
}

.vizBtn.popout {
  border: none;
  box-shadow: none;
}

.vizBtn.popout > li {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 24px;
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.vizBtn.popout > li.active {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin: 16px 0;
}

.side-nav .vizBtn {
  margin: 0;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .vizBtn, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.vizBtn .collection {
  margin: 0;
  border: none;
}

.side-nav .vizBtn-body li.active,
.side-nav.fixed .vizBtn-body li.active {
  background-color: #ee6e73;
}

.side-nav .vizBtn-body li.active a,
.side-nav.fixed .vizBtn-body li.active a {
  color: #fff;
}

.vizBtn {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
}

.vizBtn-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.vizBtn-header i {
  width: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

*****/

/*
blue-darken-3: #1565c0 
red-darken-4: #b71c1c
red: #f44336
green: #4caf50
*/

/*  */

  /* label color */
   .input-field label {
     color: #1565c0;
   }
    /* label focus color */
   .input-field textarea[id=form_description]:focus + label {
     color: #b71c1c;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #b71c1c;
   }
    /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #b71c1c;
   }
    /* label underline color */
   .input-field input[type=text] {
     border-bottom: 1px solid #1565c0;
   }
    /* label underline color */
   .input-field input[type=email] {
     border-bottom: 1px solid #1565c0;
   }
    /* label underline color */
   .input-field textarea {
     border-bottom: 1px solid #1565c0;
   }
    /* label underline focus color */
   .input-field textarea[id=form_description]:focus {
     border-bottom: 1px solid #b71c1c;
     box-shadow: 0 1px 0 0 #b71c1c;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #b71c1c;
     box-shadow: 0 1px 0 0 #b71c1c;
   }
    /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #b71c1c;
     box-shadow: 0 1px 0 0 #b71c1c;
   }
     /* valid color */
   .input-field textarea[class=materialize-textarea].valid {
     border-bottom: 1px solid #4caf50;
     box-shadow: 0 1px 0 0 #4caf50;
   }
    /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4caf50;
     box-shadow: 0 1px 0 0 #4caf50;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #4caf50;
     box-shadow: 0 1px 0 0 #4caf50;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid #f44336;
     box-shadow: 0 1px 0 0 #f44336;
   }
    /* icon prefix color */
   .input-field .prefix {
     color: #1565c0;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #b71c1c;
   }
