/******   VISUALIZE   ******/

#vizIntro {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: -2.1em;
    text-align: center;
    background-image: url(../images/OurWork3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 770px){

    #vizIntro {
        min-width: 320px
    }
}

#vizIntroTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0em;
    margin: auto;
}

#vizIntroSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: .3em;
    padding-bottom: 1.5em;
}



#vizSearch {
    
    margin: -0.5em;
    margin-top: 0em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #vizSearch {
        min-width: 320px;
    }
}

.vizSearchHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*border-bottom: ;*/
    border-bottom-color: #1976d2;
    margin: auto;
    background-color: #2A65B0;
    /*#1976d2*/
}

#vizSearchText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding-top: 0em;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

#vizSearchTextTOA {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: .5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

/******   TOOLTIP   ******/

.infoTooltip{
    position:inherit;
    float: right;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 1;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-color: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    background: rgba(255,255,255,.2);
}


#tooltipText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#comparisonTooltip,
#distributionTooltip,
#compositionTooltip,
#relationshipTooltip
{
    background: rgba(42,101,176,1);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    min-width: 50px;
    max-width: 500px;
    display: none;
    /*
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
    */
    /*visibility: visible;*/
    font-family: roboto, sans-serif;
    font-weight: 300;
    z-index: 1;
}
/*
#comparisonTooltip:before {
    content:'';
    height:3px;
    width:0;
    border:7px solid transparent;
    border-top-color:#1d1d1d;
    position:absolute;
    top:28px;
    left:154px;
}
*/
/******   DISCLAIMER   ******/

#disclaimer { 
    font-family: roboto, sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bold {
    font-family: roboto, sans-serif;
    font-weight: 400;
    color: white;
}

/*
.analysis {
    min-width: 150px;
}
*/

/* OLD HEADER BUTTON STYLING
.headButton {
    background-color: #2A65B0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center; */
    /*padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;*/ /*
    width: 15vw;
    height: 3.7em;
    color: white;
    display: inline-block;
    border-bottom: 5px solid #2A65B0;
    border-top: 5px solid #2A65B0;
    position: relative;
}

.headButton:hover {
    background-color: #14499e;
    border-bottom: 5px solid #14499e;
    border-top: 5px solid #14499e;
    text-decoration: none;
    cursor: pointer;
}

*/

.buttonText {
    width: 100%;
    height: 30%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.onHead {
    background-color: #b71c1c !important;
}

.onSub {                                                                                                                                                                     
    background-color: #b71c1c !important;
}

/* OLD ON HEAD STYLING
.onHead {
    background-color: #14499e;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    /*padding-top:1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: auto;
    */ /*
    width: 15vw;
    height: 3.7em; 
    color: white;
    display: inline-block;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
    position: relative;
}

.onHead:hover {
    background-color: #14499e;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
    text-decoration: none;
    cursor: pointer;
}
*/

.off {
    background-color: black;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding-top:2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    width: 10%;
    color: white;
    display: inline-block;
    border-bottom: 5px solid #2A65B0;
    border-top: 5px solid #2A65B0;
}

.vizSearchTextStory {
    background-color: #2A65B0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    padding-top:2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    width: 10%;
    color: white;
    display: inline-block;
    border-bottom: 5px solid #2A65B0;
    border-top: 5px solid #2A65B0;
}

.vizSearchTextStory:hover {
    background-color: #14499e;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
}

#wrapper {
    margin-top: 2em;
}

.accordion {
    width: 15vw;
    display: inline-block;   
}

/*.subButton {
    background-color: #2A65B0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;*/
    /*padding-top:.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .5em;
    margin: auto;*/
    /*color: white;
    display: none;
    border-bottom: 5px solid #2A65B0;
    border-top: 5px solid #2A65B0;
    width: 15vw;
    height: 3.7em;
    position: relative; 
}*/

/*.subButton:hover {
    background-color: #14499e;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
    text-decoration: none;
    cursor: pointer;
}

.onSub {
    background-color: #14499e;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;*/
    /*padding-top:.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .5em;
    margin: auto;
    *//*color: white;
    display: inline-block;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
    position: relative;
}

.onSub:hover {
    background-color: #14499e;
    border-bottom: 5px solid #70b2e1;
    border-top: 5px solid #14499e;
    text-decoration: none;
    cursor: pointer;

}*/

#vizDataTilesTop {
    margin-top: 0em;
    
}

#vizDataTilesBtm {
    padding-bottom:2em;
    margin-top: -.7em;
    margin-bottom: -2em;
}

.vizCaption {
    font-size: 14px;
    text-align: center;
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    padding-top: 0em;
    padding-left: 2em;
    padding-right: 2em;
    color: dimgray;
    align-self: center;
} 

#vizSearchCaptionTop {
    font-size: 14px;
    padding: .3em;
    text-align: center;
    margin-top: -1.6em;
}

#vizSearchCaptionBtm {
    font-size: 14px;
    padding-top: 2.2em;
    text-align: center;
    margin-top: -2em;
}

#vizSearchForm {
    
}

/*#vizSearchBox {
    width: 50%;
    padding: .3em;
    margin-bottom: 0.7em;
    margin-top: -0.2em;
    border: 2px solid white;
}*/

#vizSearchButton {
    padding: 1em;
    position: relative;
    left: -8px;
    border: 2px solid white;
    background-color: #2A65B0;
    color: white;
    width: 10em;
}

#vizSearchButton:hover {
    color: white;
    background-color: #14499e;
    
}

#vizResults {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #vizResults {
        min-width: 320px;
    }
}

.vizResultsHeading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: auto;
    background-color: #2A65B0;
}

#vizResultsText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

.vizResultBar {
    background-color: #1565c0;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.2em;
    display: none;
    justify-content: center;
    border-radius: 8px;
    transition: 0.5s;
}

.vizResultBar:hover{
    text-decoration: none;
    cursor: pointer;
    filter: brightness(1.1);
    transition: 0.5s;
}


.vizResultTitle {
    width: 25%;
    display: inline-block;
    font-size: 20px;
    font-weight: 'bold';
    align-self: center;
}

.vizResultDesc {
    width: 50%;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .vizResultTitle {
        font-size: 14px;
        font-weight: 300;
    }
    .vizResultDesc {
        font-size: 11px;
        font-weight: 300;
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
    .vizResultTitle {
        font-size: 16px;
        font-weight: 300;
    }
    .vizResultDesc {
        font-size: 12px;
        font-weight: 300;
    }
}

@media only screen and (min-width: 992px) {
    .vizResultTitle {
        font-size: 18px;
        font-weight: 300;
    }
    .vizResultDesc {
        font-size: 14px;
        font-weight: 300;
    }
}

.vizResultImage {
    width: 25%;
    display: inline-block;
    height: 4em;
    /*background-image: url(../images/vizIcons/treemapContentImpact.png);*/
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    align-self: center;
}

#vizResultsTextStory {
    background: #2A65B0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top:2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    width: 10%;
    color: dimgray;
    display: inline-block;
    
}

#vizResultsCaption {
    font-size: 20px;
    padding: 1em;
    text-align: center;
}

#spacer1 {
    display: none;
    height: 3vh;
}

#spacer2 {
    display: none;
    height: 3vh;
}  
