/******   MODAL   ******/ 

/* The Modal (background) */ 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


/* Modal ContentBox  */

@media only screen and (min-width: 601px) {

    .modal-content {
        background-color: #2A65B0;
        margin: 80px auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%; 
        max-width: 900px;
}
    
    #modalDesc {
        width: 70%;
        display: inline-block;
        text-align: left;
        color: white;
        font-size: 12pt;
        font-weight: 300;
        padding-left: 1em;
        border-left: solid #0D47A1 5px;
    }
    
}



@media only screen and (max-width: 600px) {

    #myModal {
        min-width: 320px;
    }
    
    #modalViewBox {
        width: 100%;
    }
    
    .modal-content {
        background-color: #2A65B0;
        margin: 80px auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 100%; 
}
    
    #modalDesc {
        width: 90%;
        display: inline-block;
        text-align: left;
        color: white;
        font-size: 12pt;
        font-weight: 300;
        padding-left: 1em;
        border-left: solid #0D47A1 5px;
    }
    
}

/* The Close Button */ 
#close {
    transition: color .5s;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -0.5em;
}

#close:hover,
#close:focus {
    transition: color .5s;
    color: #d0181e;
    text-decoration: none;
    cursor: pointer;
}

#choroplethModal {
    width: 50%;
    display: inline-block;
    height: 15em;
    background-image: url(../images/ChoroplethLrg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#modalTitle {
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 18pt;
    font-weight: 200;
    padding-bottom: 0.5em;
}



/******   TREEMAP   ******/

.treeRect {
  fill: none;
  stroke: #fff;
}

text {
  font: 10px sans-serif;
}

/******   CHOROPLETH VIZ DEMOGRAPHICS  ******/

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:#DDFFE5; }
.q1-9 { fill:#BFFFCD; }
.q2-9 { fill:#9EFFB2; }
.q3-9 { fill:#81FF9A; }
.q4-9 { fill:#4AC255; }
.q5-9 { fill:#4AC255; }
.q6-9 { fill:#348A3C; }
.q7-9 { fill:#28692E; }
.q8-9 { fill:#1B471F; }

#choroPath {
    fill: none;
}

/******   CHOROPLETH VIZ WEATHER   ******/

.w0-9 { fill:#FFBAB8; }
.w1-9 { fill:#FFA09C; }
.w2-9 { fill:#FF7E74; }
.w3-9 { fill:#FF6059; }
.w4-9 { fill:#FF443C; }
.w5-9 { fill:#FF2A20; }
.w6-9 { fill:#B81E17; }
.w7-9 { fill:#911812; }
.w8-9 { fill:#61100C; }

/******   RADAR CHART   ******/

/*
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
    }
*/



/******   VERTICAL BAR CHART   ******/

/*div.tooltip {
    
    background: lightblue;
    border:solid gray;
    position: absolute;
}*/

.axis-y text {
    fill: white;
}

.axis-x text {
    fill: white;
}

.axis-y line {
    stroke: white;
}

.axis-x line {
    stroke: white;
}

path.domain {
    stroke: white;
}

path.domain {
    fill: none;
    stroke: white;
    stroke-width: 1;
}

/*

g.tooltip {    
    visibility:hidden;
}
g.tooltip rect {
    fill: lightblue;
    stroke: gray;
}

*/

/*

div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 28px;		
  padding: 2px;	
  font: 12px sans-serif;	
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;
}

*/

/******   TREEMAP   ******/

/*
form {
  position: absolute;
  right: 10px;
  top: 10px;
}
*/

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

/******   DOT MAP   ******/

.statesDot {
  fill: #2CC7FF;
  stroke: #FFF;
}

.symbol {
  fill: #CC352B;
  fill-opacity: .6;
  stroke: #7F211B;
  stroke-opacity: 1;
}

/******   PIE CHART  ******/

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

/******   AREA CHART   ******/

.axis path,


.area {
  fill: #78DBFF;
}

/******   LINE GRAPH   ******/

.axis text {
    fill: white;
}

.axis line {
    stroke: white;
    fill: white;
}

.line {
  fill: none;
  stroke: #78DBFF;
  stroke-width: 1.5px;
}

/******   WORD CLOUD   ******/

  .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }

/******   HORIZONTAL BAR CHART   ******/

.bar rect {
  fill: #CC352B;
}

.bar text.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
  stroke-dasharray: 3, 3;
}

.y.axis path {
  stroke: white;}

/******   STACKED BAR CHART   ******/

text {
  font: 10px sans-serif;
}

.axis path,


/******   DONUT CHART   ******/

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

/******   CHORD DIAGRAM   ******/

.group-tick line {
  stroke: white;
}

.group-tick text {
  fill: white;
}

.ribbons {
  fill-opacity: 0.67;
}

/******   RADIAL PROGRESS BAR   ******/

.arc-background1 {
  fill: white;
  opacity: .2;
}

.arc-background2 {
  fill: white;
  opacity: .2;
}

.arc-background3 {
  fill: white;
  opacity: .2;
}

.arc1 {
  fill: #2CC7FF;
}

.arc2 {
  fill: #73FFA2;
}

.arc3 {
  fill: #FF8A83;
}

#t1 {
    font-size: 3em;
    fill: #2CC7FF;
}

#t2 {
    font-size: 3em;
    fill: #73FFA2;
}

#t3 {
    font-size: 3em;
    fill: #FF8A83;
}

/******   STACKED AREA CHART   ******/

.axis--y text {
    fill: white;
}

.axis--x text {
    fill: white;
}

.axis--y line {
    stroke: white;
}

.axis--x line {
    stroke: white;
}

path.domain {
    stroke: white;
}

