/******   WORK   ******/

/* Container for Intro section on work page */
#workIntro {
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: -2.1em;
    text-align: center;
    background-image: url(../images/Keyboard3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 770px){

    #workIntro{
        min-width: 320px;
    }
}

/* title text inside work intro container */
#workIntroText {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 600px;
    padding-top: 3.5em;
    padding-bottom: em;
    padding-left: 20%;
    padding-right: 20%;
    margin: auto;
}

#workIntroSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-bottom: 6em;
}

/* container for datastrong title section */
#Datastrong {
    background: #2A65B0;
    margin: -0.5em;
    margin-top: em;
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #Datastrong{
        min-width: 320px
    }
}

/* title text inside datastrong title section container */
#DatastrongTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

/* subtitle text inside datastrong title section container */
#DatastrongSubTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 2em;
}

/* container for datastrong section body */
#DatastrongBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #DatastrongBody{
        min-width: 320px;
    }
}

#DatastrongBuffer {
    padding: 1.5em;
}

#DatastrongLink {
    margin: auto;
    display:inline;
}

#DatastrongLogo {
    background-image: url(../images/DataStrongLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    padding-top: 4em;
    height: 5em;
    width: 90%;
    margin: auto;
    max-width: 400px;
    display: inline-block;
    -webkit-transition: 2s ease;
}

/* paragraph about datastrong inside the section body container */
#DatastrongText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    max-width: 50%;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.8em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

/* Testimonial Quote from Datastrong for their section on Our Work page */
#DatastrongQuoteText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: dimgray;
    text-align: center;
    max-width: 60%;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    margin: auto;
}

#DatastrongSubQuote {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 0.5em;
    color: gray;
}

/* container for Quirk title section */
#Quirk {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em
}

@media only screen and (max-width: 770px){

    #Quirk{
        min-width: 320px;
    }
}

/* title text inside Quirk title section container */
#QuirkTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

/* subtitle text inside Quirk title section container */
#QuirkSubTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 2em;
}

/* container for Quirk section body */
#QuirkBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: ;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #QuirkBody {
        min-width: 320px;
    }
}

#QuirkLogo {
    background-image: url(../images/QuirkLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    height: 8em;
    width: 100%;
    margin: auto;
    padding-top: 4em; 
    max-width: 550px;
}

/* paragraph about Quirk inside the section body container */
#QuirkText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: left;
    max-width: 50%;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

#QuirkTextTitle {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: dimgray;
    padding-bottom: 1em;
}

/* Testimonial Quote from Datastrong for their section on Our Work page */
#QuirkQuoteText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: dimgray;
    text-align: center;
    max-width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin: auto;
}

#QuirkSubQuote {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 0.5em;
    color: gray;
}

/* container for MotorCar title section */
#MotorCar {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em
}

@media only screen and (max-width: 770px){

    #MotorCar {
        min-width: 320px;
    }
}

#MotorCarTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

#MotorCarSubTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
}



#MotorCarBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: ;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #MotorCarBody{
        min-width: 320px;
    }
}

#MotorCarLogo {
    background-image:url(../images/MotorCarLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    height: 8em;
    width: 100%;
    margin: auto;
    padding-top: 3em; 
    max-width: 550px;
}

#MotorCarText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: left;
    max-width: 50%;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

/* Testimonial Quote from Motor Car for their section on Our Work page */
#MotorCarQuoteText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: dimgray;
    text-align: center;
    max-width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin: auto;
}

#MotorCarSubQuote {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 0.5em;
    color: gray;
}

/* container for Thronas title section */
#Thronas {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em
}

@media only screen and (max-width: 770px){

    #Thronas {
        min-width: 320px;
    }
}

#ThronasTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

#ThronasSubTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 2em;
}

#ThronasBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: ;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #ThronasBody{
        min-width: 320px;
    }
}

#ThronasLogo {
    background-image:url(../images/ThronasLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    height: 8em;
    width: 100%;
    margin: auto;
    padding-top: 3em;
    max-width: 500px;
}

#ThronasText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: left;
    max-width: 50%;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
}

/* Testimonial Quote from Thronas for their section on Our Work page */
#ThronasQuoteText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: dimgray;
    text-align: center;
    max-width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin: auto;
}

#ThronasSubQuote {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 0.5em;
    color: gray;
}

/* Sports Bettor section */

/* container for Sports title section */
#Sports {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em
}

@media only screen and (max-width: 770px){

    #Sports {
        min-width: 320px;
    }
}

#SportsTitle {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.1em;
    margin: auto;
}

#SportsSubTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 75%;
    margin: auto;
    padding-bottom: 2em;
}

#SportsBody {
    background-color: white;
    background-image: url(../images/Light%20Triangles2-01.png);
    background-repeat: no-repeat;
    background-position: center left;
    margin: -0.5em;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #SportsBody{
        min-width: 320px;
    }
}

#SportsLogo {
    background-image:url(../images/SportsLogoWebWhite.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain; 
    height: 8em;
    width: 80%;
    margin: auto;
    padding-top: 3em;
    max-width: 530px;
}

#SportsText {
    background: transparent;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: left;
    max-width: 50%;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin: auto;
    color: dimgray;
    align-self: center;
    border-bottom: 2px solid;
    border-bottom-color: #1976d2;
}

/* Testimonial Quote from Thronas for their section on Our Work page */
#SportsQuoteText {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: dimgray;
    text-align: center;
    max-width: 60%;
    padding-top: 2em;
    padding-bottom: 3em;
    margin: auto;
}

#SportsSubQuote {
    font-family: 'roboto', sans-serif;
    font-weight: 100;
    margin-top: 0.5em;
    color: gray;
}

/* Get To Know Us section */
#KnowUs {
    background: #2A65B0;
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    text-align: center;
}

@media only screen and (max-width: 770px){

    #KnowUs {
        min-width: 320px;
    }
}

#KnowUsTitle {
   font-family: 'roboto', sans-serif;
    font-weight: 100;
    font-size: 80px;
    color: white;
    text-align: center;
    max-width: 75%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin: auto;
}

#meetTheTeam {
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: white;
    color: white;
    margin-top: 2.5em;
    text-align: center;
    max-width: 160px;
    margin-left: 41%;
    font-family: 'roboto', sans-serif;
    -webkit-transition: 1s ease;
    margin: auto;
}

#meetTheTeam:hover {
    background-color: white;
    color: #2A65B0;
    -webkit-transition: 0.5s ease;
}